.DS_Store
Thumbs.db
/fsh-generated
/flc-generated
/input-cache
/output
/temp
/template
_gencontinuous.bat
_gencontinuous.sh
_updatePublisher.bat
_updatePublisher.sh

.vscode/settings.json
_gitHubPush.bat
_build.bat
flc-template/liquid/.index.db
flc-template/package/.index.db
